{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}"> 
    <title>Document</title>
</head>
<body>
    <h1>게시판</h1>
    {% comment %} 로그인시 {% endcomment %}
        안녕하세요, (접속id 표시)님!  <a href="{% url 'logout' %}">로그아웃</a>
        <p><a href="{% url 'article_create' %}">글 작성</a></p>
    {% comment %} 미로그인시 {% endcomment %}
        <a href="{% url 'login' %}">로그인</a>
        <a href="{% url 'article_create' %}">글 작성</a>
    
    <ul>
        {% comment %} 최근 게시물이 위로 올라오게 해보세요 {% endcomment %}
        <li>
            <h2>순번.  제목</h2>
            <h3>작성자명</h3>
            <p>내용</p>
            <p>작성일</p>
        </li>
    </ul>
</body>
<script src="{% static '/js/script.js' %}" defer></script>
</html>