{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>글 작성</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="title">
        {% if user.is_authenticated %}
            <p>작성자 : {{ user.username }}</p>
        {% else %}
            <p>작성자 : 익명</p>
        {% endif %}
        
        <textarea name="content"></textarea>
        <button type="submit">작성</button>
    </form>
    <a href="{% url 'article_list' %}">글 목록으로 돌아가기</a>
</body>
<script src="{% static '/js/script.js' %}" defer></script>
</html>